﻿@model  TwitterInterface.Models.Home.TwitterSearchResponse
     
@if (Model == null || !Model.Statuses.Any())
{
    <div class="alert alert-info">
        No Tweets found, please try another search term.
    </div>
}
else
{
    <div class="pageContainer">
        <a class="pageBack" href="javascript:void(0);">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    
    <div class="tweetContainer">
        @foreach (var status in Model.Statuses.OrderByDescending(i => i.StatusID))
        {
            <div class="tweetBox">
                <span class="profileImageContainer">
                    <img alt="Profile Image" src="@status.User.ProfileImageUrl" />
                </span>
                <div class="tweetContent">
                    <div>
                        <strong>@status.User.Name</strong>
                        <span>@string.Format("@{0}", status.User.ScreenName ?? status.User.ScreenNameResponse)</span>
                        <span> - @string.Format("{0:MM/dd/yy hh:mm}", status.CreatedAt)</span>
                    </div>

                    <div class="tweetBody">
                        @status.Text
                    </div>

                    <div class="tweetFooter">
                        <span>
                            <a href="javascript:void(0)" class="favoriteTweet" data-statusid="@status.StatusID">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                            @status.FavoriteCount
                        </span>
                        <span>
                            <span class="glyphicon glyphicon-refresh"></span>@status.RetweetCount
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="pageContainer text-right">
        <a class="pageForward" href="javascript:void(0);">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    @Html.Hidden("minID", Model.MinID)
    @Html.Hidden("maxID", Model.MaxID)
}